.main{
	padding: 30px 0;
}
#modal-nome-produto{
	margin: 0;
	padding: 0;
}
.error{
	border-color: #a94442!important;
}
.aviso-multiplo{
	color: #7C7C7C;
	font-size: 10pt;
	padding-top: 20px;
}

.aviso-rentabilidade{
	/*color: #7C7C7C;*/
	font-size: 12pt;
	margin-top: 22px;
	font-weight: bold;
	text-align: center;
	padding: 4px;
	border-radius: 3px;
}

.aviso-rentabilidade.rentabilidade-boa{
	color: #5174FC;
	border: 1px solid #5174FC;
}

.aviso-rentabilidade.rentabilidade-otima{
	color: #62CD5F;
	border: 1px solid #62CD5F;
}

.aviso-rentabilidade.rentabilidade-ruim{
	color: #FC5151;
	border: 1px solid #FC5151;
}
#modal-imagem-produto,
.imagem-produto{
	min-width: 100%;
	height: 80px;
	text-align: center;
	padding: 5px;
	border: 1px solid #CCCCCC;
}
.imagem-produto img{
	width: auto;
	max-width: 250px;
	height: 100%;
}
label .obrigatorio{
	color: #BEBEBE;
}
.alerta-obrigatorio{
	margin: 10px 0;
}

#modal-imagem-produto img{
	width: auto;
	max-width: 200px;
	height: 100%;
}